@import (reference) '../../styles/variables.less';

.wrapper {
  width: 100%;
  border: 1px solid @stone-200;
  border-radius: 6px;
  overflow: hidden;

  :global {
    .Ketcher-root {
      height: 100%;
    }
  }
}
